.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Verdana, Tahoma, sans-serif;
}

.microphone { 
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.reset {
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.reset-button {
  border-style: none;
  border-radius: 50px;
  background-color: rgb(219, 53, 47);
  margin: 10px;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
}

.reset-button:hover {
  background-color: rgb(161, 20, 15);
}
.record-button {
  border-style: none;
  border-radius: 50px;
  background-color: rgb(47, 122, 219);
  width: 75px;
  height: 75px;
  transition-duration: 0.5s;
}

.record-button:hover {
  background-color: rgb(3, 77, 173);
}

.clock-face {
  border-style: none;
  border-radius: 5px;;
  background-color: rgb(47, 122, 219);
  width: 130px;
  padding: 5px;
  font-style: normal;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
}

.submit-button {
  border-style: none;
  border-radius: 5px;;
  background-color: rgb(47, 122, 219);
  padding: 5px;
  font-style: normal;
  font-family: inherit;
  color: white;
  font-size: 20px;
  text-align: center;
  transition-duration: 0.5s;
  animation: fadein 1s;
}

.submit-button:hover {
  background-color: rgb(3, 77, 173);
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
