.container {
    display: inline-block;
    width: auto;
    height: 70px;
    min-width: 140px;
    max-width: 210px;
    background-color: rgb(65, 64, 77);
    border: none;
    border-radius: 15px;
}

.change-mode {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 10px;
    padding: 0;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
}

.play {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 10px;
    padding: 0;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
}

.stop {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 10px;
    padding: 0;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
}

.error {
    display: inline-block;
    font-size: medium;
    color: rgb(114, 121, 133);
    margin: 0px;
    padding: 10px;

}

.svg-icon path {
    transition-duration: 0.2s;
}

.svg-icon:hover path {    
    fill: rgb(141, 147, 156);
}
